{
  "apiEndpoint": "https://REPLACE.run.app/data",
  "auth": {
    "issuer": "https://login.microsoftonline.com/TENANT_ID/v2.0",
    "redirectUri": "http://localhost:4200",
    "clientId": "CLIENT_APP_ID",
    "scope": "api://API/SCOPE api://API/user_impersonation openid profile offline_access "
  }
}
